<style>
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}
</style>

<h3>Hello <%=@user.first_name%></h3>

<p>Thank you for ordering from <%=@order.restaurant.name%> with Vegan Wheels.</p>

<p>You can see the status of your order on your <%= link_to 'dashboard', dashboard_index_url%>.</p>

<p>Best wishes,</p>
<p>Vegan Wheels 🌱</p>