<style>
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  background-color: #99CCB3;

}

.order_number {
  color: #DE5E35;
  padding: 5px;
  border: 1px dashed #DE5E35;
  border-radius: 3px;
}

.email_text {
  width: 40rem;
  background-color: #F7FBF9;
  padding: 2rem;
  border-radius: 3px;
  margin: 1rem auto;
}
</style>

<div class="email_text">
  <p style="font-weight:bold">Hello <%= @user.first_name.capitalize %></p>

  <p>Your order <span class="order_number"><%= @order.id %></span> from <%= @order.restaurant.name %> has been refunded.</p>

  <p>You can see the details of this order on your <%= link_to "dashboard", dashboard_index_url %>.</p>

  <p>We’re sorry things didn’t work out this time but we do hope to be delivering a tasty meal to you another time. </p> 

  <p>Best wishes,</p>
  <p>Veganwheels x</p>
</div>