<style>
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  background-color: #99CCB3;

}

.order_number {
  color: #DE5E35;
  padding: 5px;
  border: 1px dashed #DE5E35;
  border-radius: 3px;
}

.email_text {
  width: 40rem;
  background-color: #F7FBF9;
  padding: 2rem;
  border-radius: 3px;
  margin: 1rem auto;
}
</style>

<div class="email_text">
  <p style="font-weight:bold">Hello <%= @user.first_name.capitalize %></p>

  <p>Thank you for joining Vegan Wheels.</p>

  <p>We hope not only to deliver you delicious food but for you to consider yourself an active member of the vegan community and share any of your ideas, great or small, on how we can achieve our aims of turning Glasgow’s already vibrant and creative vegan community into a dynamic and inspirational tour de force for animal welfare. We need you on this one! So please keep in touch.</p>

  <p>Party on!</p>
  <p>Veganwheels x</p>
</div>