<style>
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}
</style>

<h3>Hello <%=@user.first_name%></h3>

<p>Thank you for joining Vegan Wheels.</p>

<%= link_to 'Get delicious vegan food delivered to your door!', root_url%>