.dashboard {
    &__top {
        height: 13rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
    }

    &__main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__box {
        width: 50rem;
        border-radius: 3px;
        padding: 2rem;

        &:not(:first-child) {
            border-right: 2px solid $color-red-dark;
        }

        @include respond(tab-land) {
            &:not(:first-child) {
                border-right: none;
                padding: 2rem 2rem 0 2rem;
            }

            &:first-child {
                border-top: 2px solid $color-red-dark;
            }
        }

        &--title {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;
        }

        &--top {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $color-red-dark;
            margin-bottom: 2rem;
        }

        &--link {
            color: $color-red-dark;
            font-weight: bold;
        }

        &--info {
            margin-bottom: 2rem;
            border-bottom: 1px solid $color-red-light; 
            padding-bottom: 2rem; 
        }

        &--margin {
            margin-bottom: 1rem;
        }

        &--message {
            margin-bottom: 3rem;
        }

        &--options {
            display: flex;
            justify-content: space-between;
        }

        &--order {
            display: flex;
            justify-content: space-between;
        }

        &--alert {
            color: $color-red-dark;
        }

        &--notice {
            color: #dba503;
        }

        &--success {
            color: $color-primary-dark;
        }

        &--details {
            background-color: white;
            padding: 1rem;
            border-radius: .3rem;
        }

        &--item {
            display: flex;
            justify-content: space-between;
            &:not(:last-child) {
                margin-bottom: 1rem;
            }  
        }
            
    }
}

#order-js {
    cursor: pointer;
    padding-bottom: 1rem;
    border-bottom: 1px solid $color-red-light;
}

.bottom-margin {
    @include respond(tab-land) {
        margin-bottom: 2rem;
    }
}