.hero {
    height: 100vh;
    padding-top: 9vh;
    margin-top: -9vh;
    width: 100%;
    background-color: $color-primary-medium;

    @include respond(tab-land){
        height: auto;
    }

    &__content {
        margin-bottom: 4rem;

        @include respond(tab-land) {
            margin-bottom: 1rem;
        }
    }

    &__text-box {
        margin-top: 12rem;

        h1 {
            color: $color-yellow-dark;
        }
    }
}
.features {
    height: 100vh;
    width: 100%;
    background-color: $color-light-grey;

    @include respond(tab-land) {
        height: auto;
    }

    h1 {
        color: $color-primary-dark;
    }

    &__images {

        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            max-width: 100%;
            height: auto;
        }

        &--box {
            width: 35rem;
        }
    }

    &__text {
        margin-bottom: 4rem;
        width: 35rem;
        &:last-child {
            margin-top: -2rem;
        }
    }

    &__margin {
        margin-top: 2.1rem;
    }
}

.about {
    height: 100vh;
    width: 100%;
    background-color: $color-primary-medium;

    &__content {
        display: flex;
        flex-direction: row;
    }

    &__image {
        width: 50%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            max-width: 100%;
            height: auto;
        }
    }


    &__box {
            width: 50%;
            height: 100vh;
            padding: 5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

        h1 {
            color: $color-yellow-dark;
        }
    }

    &__text {
        margin-top: 1rem;
        text-align: justify;
    }
}