.hero {
    height: 100vh;
    padding-top: 9vh;
    margin-top: -9vh;
    width: 100%;
    background-color: $color-primary-medium;

    @include respond(tab-land){
        height: auto;
    }

    &__content {
        @include respond(tab-land) {
            margin-bottom: 1rem;
        }
    }

    &__text-box {
        margin-top: 12rem;

        h1 {
            color: $color-yellow-dark;
        }
    }
}
.features {
    height: 100vh;
    width: 100%;
    background-color: $color-light-grey;

    @include respond(tab-land) {
        height: auto;
    }

    h1 {
        color: $color-primary-dark;
    }

    &__images {

        display: flex;
        flex-direction: column;
        align-items: center;

        @include respond(tab-land) {
            &:not(:first-child) {
                margin-top: 5rem;
            } 

            &:last-child {
                margin-bottom: 5rem;
            }
        }

        img {
            max-width: 100%;
            height: auto;
        }

        &--box {
            width: 35rem;
        }
    }

    &__text {
        width: 35rem;

        @include respond(large-phone){
            width: unset;
        }
    }

    &__margin {
        margin-top: 2.1rem;
    }
}

.about {
    height: 100vh;
    width: 100%;
    background-color: $color-primary-medium;

    @include respond(tab-land) {
        height: unset;
    }

    &__content {
        display: flex;
        flex-direction: row;
    }

    &__images {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include respond(tab-land) {
            margin-top: 4rem;
        }

        &--box {
            width: 40rem;
    
            @include respond(tab-land) {
                width: 35rem;
            }
        }
    
        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__area {
        padding: 5rem;
        @include respond(large-phone) {
            padding: 1rem;
        }
    }


    &__box {
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include respond(phone) {
                padding: 0 15px 0 15px;
            }

        h1 {
            color: $color-yellow-dark;
        }
    }

    &__text {
        margin-top: 1rem;
        text-align: justify;
    }
}