.results-bar {
    width: 100%;
    height: 5.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &:first-child {
        margin-left: 2rem;
    }

    &:last-child {
        margin-right: 2rem;
    }

    &__text {
        text-transform: uppercase;
        font-weight: 600;
        color: $color-primary-dark;
    }
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 1rem;
    justify-items: center;
}

.card {

    height: 30rem;
    width: 30rem;
    border: none;
    background-repeat: no-repeat;
    background-color: $color-light-grey;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    position: relative;
    transition: all .3s ease-in;

    &__title {
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center; 

        h1 {
            font-size: 3rem;
        }
    }

    &--1 {
        background-image: url(asset_path('blueblob.svg'));
        background-size: contain;
        &:hover {
            background-color: $color-blue;
        }
        
    }

    &--2 {
        background-image: url(asset_path('greenblob.svg'));
        background-size: 125%;   
        &:hover {
            background-color: $color-primary-light;
        }   
    }

    &--3 {
        padding-top: 5rem;
        background-image: url(asset_path('pinkblob.svg'));
        background-size: 160%;
        padding-left: 2rem;
        &:hover {
            background-color: $color-red-light;
        }  
    }

    &--4 {
        background-image: url(asset_path('yellowblob.svg'));  
        background-size: 120%; 
        padding-left: 2.5rem;
        &:hover {
            background-color: $color-yellow-medium;
        } 
    }

    &:hover {
        text-decoration: none;
    }

    &__mask {
        position: absolute;
        z-index: 0;
        height: calc(100% - 18px);
        width: calc(100% - 18px);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;

        &--1 {
            -webkit-mask-image: url(asset_path('blueblobmask.svg'));
            mask-image: url(asset_path('blueblobmask.svg'));
            top: 2.7rem;
            left: 3rem;
            -webkit-mask-size: 90%;
            mask-size: 90%;
        }

        &--2 {
            -webkit-mask-image: url(asset_path('greenblobmask.svg'));
            mask-image: url(asset_path('greenblobmask.svg')); 
            -webkit-mask-size: contain;
            mask-size: contain;
        }

        &--3 {
            -webkit-mask-image: url(asset_path('pinkblobmask.svg'));
            mask-image: url(asset_path('pinkblobmask.svg'));
            -webkit-mask-size: 125%;
            mask-size: 125%;  
            bottom: 5rem;
            right: 5rem;
        }

        &--4 {
            -webkit-mask-image: url(asset_path('yellowblobmask.svg'));
            mask-image: url(asset_path('yellowblobmask.svg'));
            -webkit-mask-size: contain;
            mask-size: contain;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(70%);
        }

    }
}

.filter__field {
    width: 33rem;
    margin-left: auto;
    margin-right: auto;
}