.results-bar {
    width: 100%;
    height: 5.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &:first-child {
        margin-left: 2rem;
    }

    &:last-child {
        margin-right: 2rem;
    }

    &__text {
        text-transform: uppercase;
        font-weight: 600;
        color: $color-primary-dark;
    }
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
    gap: 1rem;

    .card {

        height: 35rem;
        width: 35rem;
        border: none;
        background-repeat: no-repeat;
        background-color: $color-light-grey;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-position: center;
        position: relative;
        transition: all .3s ease-in;

        &__title {
            position: absolute;
            z-index: 1; 
        }

        &--1 {
            background-image: url(asset_path('blueblob.svg'));
            background-size: contain;
            &:hover {
                background-color: $color-blue;
            }
            
        }

        &--2 {
            background-image: url(asset_path('greenblob.svg'));
            background-size: 125%;   
            &:hover {
                background-color: $color-primary-light;
            }   
        }

        &--3 {
            padding-top: 5rem;
            background-image: url(asset_path('pinkblob.svg'));
            background-size: 160%;
            padding-left: 2rem;
            &:hover {
                background-color: $color-red-light;
            }  
        }

        &--4 {
            background-image: url(asset_path('yellowblob.svg'));  
            background-size: 120%; 
            padding-left: 2.5rem;
            &:hover {
                background-color: $color-yellow-medium;
            } 
        }

        &:hover {
            text-decoration: none;
        }

        &__mask {
            position: absolute;
            z-index: 0;
            max-width:100%;
            max-height:100%;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;

            &--1 {
                -webkit-mask-image: url(asset_path('blueblobmask.svg'));
                mask-image: url(asset_path('blueblobmask.svg'));
                top: 2.5rem;
                left: 3.1rem;
            }

            &--2 {
                -webkit-mask-image: url(asset_path('greenblobmask.svg'));
                mask-image: url(asset_path('greenblobmask.svg')); 
                top: -14px;
                left: -7px;
            }

            &--3 {
                -webkit-mask-image: url(asset_path('pinkblobmask.svg'));
                mask-image: url(asset_path('pinkblobmask.svg'));  
                top: -38px;
                left: -48px;
            }

            &--4 {
                -webkit-mask-image: url(asset_path('yellowblobmask.svg'));
                mask-image: url(asset_path('yellowblobmask.svg'));
                top: 0;
                left: 0;
            }

            img {
                max-width:100%;
                max-height:100%;
            }

        }
    }
}
