.checkout {
    width: 44rem;
    display: flex;
    flex-direction: column;

    h3 {
        font-weight: bold;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    &__box {
        padding: 1rem;
        border: 1px solid $color-red-dark;
        margin-bottom: 1rem;
        position: relative;

        &--link {
            position: absolute;
            right: .5rem;
            top: .5rem;
            color: $color-red-dark;
            font-weight: bold;
        }
    }
}