.show-card {
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @include respond(tab-port) {
        margin-bottom: 1.5rem;
    }

    &__title {
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    &__image {
        height: inherit;
        width: 100%;
    
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(55%);
        }
    }
}

.section {
    border: 1px solid $color-primary-dark;
    border-radius: 3px;
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;

    h2 {
        font-weight: bold;
    }
}

.menu {

    &__item {
        border: 1px solid $color-primary-dark;
        border-radius: 3px;
        padding: 1.5rem;
        margin-top: 2rem;
        min-height: 13rem;
        cursor: pointer;

        &--text {
            display: flex;
            flex-direction: column;

            h3 {
                font-weight: bold;
            }

            .price {
                font-weight: bold;
            }

            .top {
                display: flex;
                justify-content: space-between;
            }

            .bottom {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}

.badge {
    top: 2rem;
    left: 3rem;
    position: absolute;
    z-index: 5;
    height: 5rem;
    width: auto;
    background-color:$color-red-dark;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4rem;
    padding: 2rem;
}

.delivery_time {
    bottom: 1rem;
    right: 3rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    z-index: 5;

    @include respond(tab-port) {
        bottom: 2rem;
    }
}

.warning {
    color: $color-red-dark;
}
