<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 footer__column">
            <div class="footer__column--box">
                <p class="title">Follow us</p>
                <div class="links">
                <a href="#"><i class="fab fa-instagram"></i></a> 
                <a href="#"><i class="fab fa-facebook-square"></i></a> 
                <a href="#"><i class="fab fa-twitter-square"></i></a>
                </div>
            </div>
            </div>
            <div class="col-12 col-lg-4 footer__column">
            <div class="footer__column--box">
                <a href="#">FAQs</a>
                <a href="#">Terms and Conditions</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Illustrations</a>  
            </div>
            </div>
            <div class="col-12 col-lg-4 footer__column">
            <div class="footer__column--box">
                <p class="title">Contact us</p>
                <div class="email">
                    <i class="fas fa-envelope"></i>
                    <p>name@name.com</p>
                </div>
                <div class="phone">
                    <i class="fas fa-phone-square-alt"></i>
                    <p>0123456789</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>