<div class="navigation">
    <div class="container navigation__main">
        <div class="navigation__toggle"">
            <i class="fas fa-bars"></i>
        </div>
        <div class="navigation__logo">
            <%= link_to "Vegan Wheels", root_path %>
        </div>
        <div class="navigation__links">
            <div class="navigation__links--1 padding-small">
                <div class="link-blob"></div>
                <%= link_to "See all restaurants", restaurants_path %>
            </div>
            <div class="navigation__links--2 padding-small">
                <div class="link-blob"></div>
                <%= link_to "About us", root_path(anchor: 'about-section') %>
                <%# <a href="#">About us</a> %>
            </div>
            <div class="navigation__links--3 padding-small">
                <div class="link-blob"></div>
                <a href="#">Ride with us</a>
            </div>
            <div class="navigation__links--4 padding-small">
                <div class="link-blob"></div>
                <a href="#">Sign up / Log in</a>
            </div> 
        </div>
    </div>
</div>