<div class="navigation">
    <div class="container navigation__main">
        <div class="navigation__toggle"">
            <i class="fas fa-bars"></i>
        </div>
        <div class="navigation__logo">
            <%= link_to "Vegan Wheels", root_path %>
        </div>
        <div class="navigation__links">
            <div class="navigation__links--1 padding-small">
                <div class="link-blob"></div>
                <%= link_to "See all restaurants", restaurants_path %>
            </div>
            <div class="navigation__links--2 padding-small">
                <div class="link-blob"></div>
                <%= link_to "About us", root_path(anchor: 'about-section') %>
            </div>
            <div class="navigation__links--3 padding-small">
                <div class="link-blob"></div>
                <a href="#">Ride with us</a>
            </div>
            <div class="navigation__links--4 padding-small" id="nav_section">
            <%if !session[:cart_id].nil?%>
            <%@cart = Cart.find(session[:cart_id])%>
                <div class="nav_cart">
                    <i class="fas fa-shopping-basket"></i>
                    <div>|</div>
                    <%price = @cart.get_total.to_f/100%>
                    <p>£<%='%.2f' % price%></p>
                </div>
            <%else%>
                <a id="sign_up" href="#">Sign up / Log in</a>
            <%end%> 
            </div> 
        </div>
    </div>
</div>