*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* 10px is 62.5% of 16px (default browser font size) */
html {
    // Defines what 1 rem is. 1 rem is 10px.
    font-size: 62.5%;
    height:100%;
}
  
body {
   box-sizing: border-box;
   padding: 0 !important;
   display: flex;
   flex-direction: column;
   height: 100%;
}

.content {
    flex: 1 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
  
    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }