body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: $default-font-size;
    line-height: 1.7;
    color: $color-black; 
 }

 h1 {
    font-size: 5rem;
    font-family: $heading-font;
   //  @include respond(phone) {
   //     font-size: 4.5rem;
   //  }
 }

 .paragraph {
    margin-bottom: 3rem;
    text-align: justify;
 }

 h3 {
    font-size: 2rem;
    @include respond(phone) {
       font-size: 1.7rem;
    }
 }

 .uppercase {
    text-transform: uppercase;
 }

 .subheading {
   margin-top: -5rem;
   margin-bottom: 2.5rem;
 }

 .label-yellow {
   font-weight: 600;
   color: $color-yellow-dark;
}

.label-green {
   font-weight: 600;
   color: $color-primary-dark;
}

.vr-line {
   border-left: 1px solid $color-yellow-dark;
   height: 11rem;
}