body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: $default-font-size;
    line-height: 1.5;
    color: $color-black; 
 }

 h1 {
    font-size: 5rem;
    font-family: $heading-font;
                    
    @include respond(small-lap) {
      font-size: 4.5rem;
   }
   @include respond(large-phone) {
      font-size: 4rem;
   }
   @include respond(phone) {
      font-size: 3.5rem;
   }
 }

 h2 {
   font-size: 2rem;
   @include respond(tab-land) {
      font-size: 2.4rem;
   }
   @include respond(phone) {
      font-size: 2rem;
   }
}

h3 {
   font-size: 1.8rem;
   @include respond(tab-land) {
      font-size: 2rem;
   }
   @include respond(phone) {
      font-size: 1.8rem;
   }
}

p {
   font-size: 1.6rem;
   margin-bottom: 0;
   // text-align: justify;
}

 .paragraph {
    margin-bottom: 2.5rem;
    text-align: justify;
 }

 .uppercase {
    text-transform: uppercase;
 }

 .subheading {
   margin-top: -5rem;
   margin-bottom: 2.5rem;
 }

 .subtitle {
    margin-bottom: 1rem;
 }

 .label-yellow {
   font-weight: 600;
   color: $color-yellow-dark;
}

.label-green {
   font-weight: 600;
   color: $color-primary-dark;
}