.margin-medium {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.margin-large {
    margin-top: 6.5rem;
    margin-bottom: 2.5rem;
}

.padding-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.padding-small {
    padding: 1.5rem;
}