<div class="container white-content-box">
    <div class="dashboard__box--top">
        <h3 class="uppercase font-weight-bold">Past Orders</h3>
    </div>
    <%@orders.each do |order|%>
        <%= render 'partials/order', order: order%>
    <%end%>

    <%= link_to dashboard_index_path do%>
        <p class="uppercase dashboard__box--link">
        <i class="fas fa-chevron-left"></i>
        Back to my dashboard</p>
    <%end%>
    <%= render 'partials/modal_cart_bg'%>
</div>