<div class="hero container">
    <div class="hero__text-box">
        <h1 class="heading-primary">Vegan Wheels is a vegan food delivery service in Glasgow</h1> 

        <h3 class="margin-large"> We want to make it as easy as possible to eat delicious vegan food.</h3>  
       
        <h3 class="margin-large">With Vegan Wheels you can order from the best local restaurants and be confident that none of your money goes to businesses that use animal products.</h3>
    </div>
    <div class="search-form">
        <p class="label uppercase">Enter your postcode to begin</p>
        <%= simple_form_for :search, 
            url: restaurants_path, 
            method: "GET" do |f| %>
        <%= f.input :postcode, 
            input_html: {value: "", class: "search-form-big"},
            label: false%>      
        <% end %>
        <i class="fas fa-search"></i>
    </div>
    <%= image_tag "Face.svg" %>
</div>
   