<div class="container white-content-box">
  <div class="row">
    <div class="col-12">
      <%= link_to :back do%>
        <p class="uppercase dashboard__box--link">
        <i class="fas fa-chevron-left"></i>
        Back</p>
      <%end%>
      
      <div class="text-center">
        <h1 class="vwform__heading">Terms and Conditions</h1>
      </div>
      <div class="pr-5 pl-5">
        <%=raw(Business.first.terms)%>
      </div>
    </div>
  </div>
  <%= render 'partials/modal_cart_bg'%>
</div>