.white-content-box {
    width: 100%;
    background-color: $color-light-grey;
    border-radius: 3px;
    margin-bottom: 9rem;
    min-height: 40vh;
    padding-bottom: 2rem;
    padding-top: 2rem;
}