// // COLOURS
$color-grey: #9BA39F;
$color-white: #fff;
$color-black: #36463E;
$color-primary-dark: #339966;
$color-primary-medium: #66B38C;
$color-primary-light: #99CCB3;
$color-yellow-dark: #FBD359;
$color-yellow-medium: #FCDE83;
$color-yellow-light:#FDE9AC;


// // GRID
// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-horizontal: 6rem;

//FONT
$default-font-size: 1.6rem;
$heading-font: "Permanent Marker";