// // COLOURS
$color-grey: #9BA39F;
$color-light-grey: #F7FBF9;
$color-white: #fff;
$color-black: #1f2924;
$color-primary-dark: #339966;
$color-primary-medium: #66B38C;
$color-primary-light: #99CCB3;
$color-yellow-dark: #FBD359;
$color-yellow-medium: #FCDE83;
$color-yellow-light:#FDE9AC;
$color-red-dark: #DE5E35;
$color-red-medium: #E68668;
$color-red-light: #EFAF9A;
$color-blue: #A7D3E0;

//FONT
@font-face {
    font-family: 'Leafy';
    src: font-url('leafy.woff') format('woff');
 }
$default-font-size: 1.6rem;
$landing-page-font-size: 2.1rem;
$heading-font: "Leafy";