<div class="container white-content-box">
  <%if user_signed_in?%>
    <div class="row" id="filter">
      <%= render 'partials/restaurants_index_filter' %>
    </div>
  <%end%>
  <% if @search.present? %>
    <div class="row">
      <div class="results-bar">
        <h3 class="results-bar__text">Restaurants near <%= @postcode%></h3>
      </div>
    </div>
  <%end%>
  <div id="user-restaurants">
    <%= render 'partials/restaurants_index', restaurant: @restaurant%>
  </div>
  <%= render 'partials/modal_cart_bg'%>
</div>