<div class="nav_cart">
    <div class="nav_cart--price">
        <i class="fas fa-shopping-basket"></i>
        <p>£<%=to_pounds(@cart.get_total)%></p>
    </div>
    <div>|</div>
    <p class="uppercase"><%=pluralize(@cart.get_quantity, 'item')%></p>
    </div>
</div>
<%= render 'partials/nav_cart_full', cart: @cart%>