function deleteCart() {
    const navSection = document.getElementById('nav_section');
    const navItems = document.querySelectorAll('.item-js').length
    const navCart = document.getElementsByClassName('nav_cart')[0];

    if (navItems == 1) {
        navCart.remove();
        navSection.innerHTML = '<a id="sign_up" href="#">Sign up / Log in</a>';
        navSection.classList.add("navigation__links--4","padding-small");
    } else {
        document.getElementById("item-<%= @order_item.id %>").remove();
        navSection.innerHTML = '<%= j render "order_items/cart", order_item: @order_item, cart: @cart%>'
    }
}

deleteCart();