.button-big {
    height: 5rem;
    width: 21rem;
    background-color: $color-primary-dark;
    border-radius: 3px;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    transition: all .2s ease;

    &:hover {
        background-color: $color-black;
    }

    a {
        text-decoration: none;
    }
}