.button {
    border-radius: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    transition: all .2s ease;
    text-transform: uppercase;
    box-sizing: border-box;

    &--big {
        margin-top: 2rem;
        width: 21rem;
        padding: 1.5rem;
        background-color: $color-primary-dark;
        border: none;
        color: $color-white;
        &:hover {
            background-color: $color-black;
        }
    }

    &--small {
        margin-top: 1rem;
        width: 15rem;
        padding: 1rem;
        background-color: $color-primary-dark;
        border: 1px solid transparent;
        color: $color-white;
        &:hover {
            background-color: $color-white;
            color: $color-primary-dark;
            border: 1px solid $color-primary-dark;
        }
    }

    &--grey {
        margin-top: 1rem;
        width: 15rem;
        padding: 1rem;
        background-color: $color-light-grey;
        border: 1px solid $color-primary-dark;
        color: $color-primary-dark;
        &:hover {
            background-color: $color-primary-dark;
            color: $color-white;
        }

    }

    &--quantity {
        color: $color-primary-dark;
        font-size: 2rem;
        font-weight: bold;
        margin: 0 1rem 0 1rem;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__fill {
        padding: 1rem;
        border: 1px solid transparent;
        text-transform: uppercase;
        margin-top: 1rem;
        margin-bottom: 1rem;
        transition: all .2s linear;
        display: flex;
        justify-content: center;
        cursor: pointer;

        &--sgreen {
            width: 30rem;
            background-color: $color-primary-dark;
            color: $color-white;
            font-size: 1.5rem;

            &:hover {
                background-color: $color-white;
                color: $color-primary-dark;
                border: 1px solid $color-primary-dark;
            }
        }

        &--sgreenl {
            width: 30rem;
            background-color: $color-primary-light;
            color: $color-white;
            font-size: 1.5rem;

            &:hover {
                background-color: $color-light-grey;
                color: $color-primary-dark;
                border: 1px solid $color-primary-dark;
            }
        }

        &--bgreen {
            width: 44rem;
            background-color: $color-primary-dark;
            color: $color-white;

            &:hover {
                background-color: $color-white;
                color: $color-primary-dark;
                border: 1px solid $color-primary-dark;
            }
        }

        &--bgreenl {
            width: 44rem;
            background-color: $color-primary-light;
            color: $color-white;

            &:hover {
                background-color: $color-light-grey;
                color: $color-primary-dark;
                border: 1px solid $color-primary-dark;
            }
        }

        &--red {
            width: 44rem;
            background-color: $color-red-dark;
            color: $color-white;

            &:hover {
                background-color: $color-white;
                color: $color-red-dark;
                border: 1px solid $color-red-dark;
            }
        }

        &--redl {
            width: 44rem;
            background-color: $color-red-light;
            color: $color-white;
            &:hover {
                background-color: $color-light-grey;
                color: $color-red-dark;
                border: 1px solid $color-red-dark;
            }
        }
    }

    &__about {
        width: 45.5rem !important;
    }

    a {
        text-decoration: none;
    }

    &__filter {
        font-size: 1.6rem !important;
        border-radius: unset;
    }
}