.composition {
    position: relative;
    height: 54vh;
    width: 48vh;

    @include respond(tab-land) {
        height: 50vh;
        width: 45vh;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 7rem;
    }
    @include respond(phone) {
        height: 40vh;
        width: 35vh;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
    }


    &__blob {
        
        &--1 {
            animation: morph1 7s ease-in-out infinite;
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
            height: 100%;
            width: 82%;
            transition: all .5s ease-in-out;
            z-index: 3;
            position: absolute;
            top: 8%;
            right: -16%;
            background-color: $color-yellow-medium;
        }

        &--2 {
            animation: morph2 5s ease-out infinite;
            border-radius: 22% 78% 41% 59% / 64% 76% 24% 36%;
            height: 75%;
            width: 69%;
            transition: all .5s ease-out;
            z-index: 5;
            position: absolute;
            top: 46%;
            right: -2%;
            background-color: $color-red-light;
        }

        &--3 {
            animation: morph3 8s ease-in infinite;
            border-radius: 49% 51% 23% 77% / 54% 57% 43% 46%;
            height: 88%;
            width: 72%;
            transition: all .6s ease-in;
            z-index: 2;
            position: absolute;
            top: 29%;
            right: 22%;
            background-color: $color-primary-light;
        }

        &--4 {
            animation: morph4 4s linear infinite;
            border-radius: 26% 74% 43% 57% / 25% 26% 74% 75%;
            height: 80%;
            width: 66%;
            transition: all .5s linear;
            z-index: 4;
            position: absolute;
            top: 11%;
            right: 21%;
            background-color: $color-blue;
        }
        
    }

    &__image {
        z-index: 6;
        position: absolute;
        top: 10%;
        right: -18%;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}