.footer {
    flex-shrink: 0;
    height: 30rem;
    width: 100%;
    background-color:  $color-primary-medium;
    color: $color-black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid $color-black;

    @include respond(tab-port) {
        height: auto;
        padding-top: 0;
    }

    [class^="col-"] {
        &:not(:last-child) {
            border-right: 2px solid $color-black;
            height: auto; 

            @include respond(tab-port) {
                border-right: none;
                border-bottom: 2px solid $color-black;
            }
        }
        @include respond(tab-port) {
            padding: 2rem;
        }
    }

    &__column {
        display: flex;
        justify-content: center;

        .title {
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 1rem;
        }

        &--box  {
            display: flex;
            flex-direction: column;
            width: 20rem;

            i {
                padding-right: 2rem;
                padding-bottom: 1rem;
                font-size: 2.5rem;
            }

            .email,
            .phone {
                display: flex;
                flex-direction: row;
            }

            .links {
                margin-top: 2rem;
            }

        }
    
    }

    a {
        &:link,
        &:visited {
            color: $color-black;;
            font-weight: 600;
            text-transform: uppercase;
        }

        &:hover {
            text-decoration: none;
            color: $color-yellow-dark;
        }
    }
}