.footer {
    flex-shrink: 0;
    height: 25rem;
    width: 100%;
    background-color: $color-black;
    padding-top: 9rem;

    @include respond(tab-port) {
        height: auto;
        padding-top: 0;
    }

    [class^="col-"] {
        &:not(:last-child) {
            border-right: 1px solid $color-yellow-dark;
            height: auto; 

            @include respond(tab-port) {
                border-right: none;
                border-bottom: 1px solid $color-yellow-dark;
            }
        }
        @include respond(tab-port) {
            padding: 2rem;
        }
    }

    &__column {
        display: flex;
        justify-content: center;
        color: $color-yellow-dark;

        .title {
            font-weight: 600;
            text-transform: uppercase;
        }

        &--box  {
            display: flex;
            flex-direction: column;
            width: 20rem;

            i {
                padding-right: 2rem;
                font-size: 3rem;
            }

            .email,
            .phone {
                display: flex;
                flex-direction: row;
            }

        }
    
    }

    a {
        &:link,
        &:visited {
            color: $color-yellow-dark;
            font-weight: 600;
            text-transform: uppercase;
        }

        &:hover {
            text-decoration: none;
            color: $color-primary-light;
        }
    }
}