.footer {
    flex-shrink: 0;
    height: 30rem;
    width: 100%;
    background-color: $color-black;
    padding-top: 12rem;

    &__column {
        display: flex;
        justify-content: center;
        color: $color-yellow-dark;

        .title {
            font-weight: 600;
            text-transform: uppercase;
        }

        &--box  {
            display: flex;
            flex-direction: column;

            i {
                padding-right: 2rem;
                font-size: 3rem;
            }

            .email,
            .phone {
                display: flex;
                flex-direction: row;
            }

        }
    
    }

    a {
        &:link,
        &:visited {
            color: $color-yellow-dark;
            font-weight: 600;
            text-transform: uppercase;
        }

        &:hover {
            text-decoration: none;
            color: $color-primary-light;
        }
    }
}