.vwform {
    width: 30rem;
    margin-top: 10vh;
    margin-bottom: 10vh;

    @include respond(phone) {
        margin-top: 3vh;
        margin-bottom: 3vh;
        width: 100%;
    }
    &__heading {
        font-size: 3.5rem !important;
        display: flex;
        justify-content: center;
    }

    &__field {
        text-transform: uppercase;
        font-size: 1.5rem;

        &--check {
            padding-left: .3rem;
            position: absolute;

            @include respond(phone) {
                padding-left: 1rem;
            }
        }

        &--link {
            color: $color-red-dark;
            margin-bottom: 1rem;
        }
    }

    &__alert {
        padding: 1rem;
        border: 1px solid $color-red-dark;
        border-radius: 3px;

        a {
            font-weight: bold;
        }
    }

    &__area {
        margin-top: 5rem;
    }
}

.vwform-contact {
    width: 30rem;
    margin-top: 5vh;
    margin-bottom: 5vh;

    @include respond(phone) {
        width: 100%;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    .hidden { display: none; }
}

.form-actions {
    margin-top: 3rem;
    font-size: 1.5rem;
}

.link-back {
    display: flex;
    width: 10rem;
    justify-content: space-between;
}

.form-control {
    font-size: 1.5rem;
}

.form-check-input {
    margin-top: 0.5rem;
}