
.modal-bckg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 0.3s ease-in;
}

.bckg-active {
    visibility: visible;
    opacity: 1;
}

.modal__item {
    background-color: $color-light-grey;
    width: 30%;
    height: auto;
    border: 3px solid $color-primary-dark;
    border-radius: 3px;
    padding: 1.5rem;
    position: relative;

    &--text {
        display: flex;
        flex-direction: column;
    
        h3 {
            font-weight: bold;
        }
    
        .price {
            font-weight: bold;
        }

    }

    &--top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
        border-bottom: 1px solid $color-primary-dark;
        margin-bottom: 1rem;
    }
}

.modal-close {
    // position: absolute;
    // bottom: 10px;
    // right: 10px;
    // cursor: pointer;
}

