
.modal-bckg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 0.3s ease-in;
}

.bckg-active {
    visibility: visible;
    opacity: 1;
}

.modal__cart {
    background-color: $color-light-grey;
    width: 50rem;
    height: auto;
    border: 3px solid $color-red-dark;
    border-radius: .5rem;
    padding: 3rem;
    position: relative;

    &--items {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
    }

    &--item {
        margin-bottom: .5rem;
        display: flex;
        justify-content: space-between;        

        .item {
            margin-right: 3rem;
        }
    }

    &--itemwrapper {
        display: flex;

        i {
            margin-right: .8rem;
        }
    }

    &--line {
        width: inherit;
        border-bottom: 1px solid $color-red-dark;
    }

    &--side {
        font-size: 1.4rem;
        margin-left: 2.4rem;
    }
}

.modal__item {
    background-color: $color-light-grey;
    width: 50rem;
    height: auto;
    border: 3px solid $color-primary-dark;
    border-radius: .5rem;
    padding: 3rem;
    position: relative;

    &--text {
        display: flex;
        flex-direction: column;
    
        h3 {
            font-weight: bold;
        }
    
        .price {
            font-weight: bold;
        }

    }

    &--top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
        border-bottom: 1px solid $color-primary-dark;
        margin-bottom: 1rem;
    }

    .bottom {
        display: flex;
        justify-content: space-between;
    }

    textarea {
        width: 43.5rem;
        border: 1px solid $color-primary-dark;
        border-radius: .3rem;
        background-color: $color-light-grey;
    }

    textarea:focus, input:focus {
        outline: none !important;
        border: 1px solid $color-red-dark;
    }

    label {
        margin-top: 1rem;
    }

    input {
        -webkit-appearance: none; 
        appearance: none;
    }

    input[type=text] {
        width: 4rem;
        // border: 1px solid $color-primary-dark;
        text-align: center;
        border-radius: .3rem;
        background-color: $color-light-grey;
        border: none;
        font-size: 2rem;
    }

    input[type=checkbox] {
        position: relative;
        border: 1px solid $color-primary-dark;
        background-color: $color-light-grey;
        padding: .6rem;
        border-radius: .3rem;
        margin-right: 1rem;
    }

    input[type=checkbox]::before {
        content: "✔";
        color:white;
        position: absolute;
        font-size: 1.4rem;
        left: 1px;
        top: -0.6rem;
        visibility: hidden;
      }

      input[type=checkbox]:checked::before {
        /* Use `visibility` instead of `display` to avoid recalculating layout */
        visibility: visible;
      }

    input[type=checkbox]:checked {
        background-color: $color-primary-dark;
    }

    .quantity-select {
        display: flex;
    }
}


