.nav_cart {
    display: flex;
    background-color: $color-white;
    border-radius: 3px;
    border: 3px solid $color-primary-dark;
    cursor: pointer;
    padding: .6rem;
    margin-top: .7rem;

    &--price {
        font-weight: bold;
        display: flex;
    }

    i {
        margin-top: 3px;
        margin-right: 3px;
    }
}

