.nav {
    padding: 2rem 0;
    height: 7rem;

    &__links {
        background-color: transparent;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;

    &--1 {

        .link-blob {
            position: absolute;
            height: 6.5rem;
            width: 17.5rem;
            animation: morph1 4s linear infinite;
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
            transition: all .2s linear;
            background-color: $color-yellow-medium;
            top: -19px;
            bottom: 0;
            z-index: 1;
            opacity: 0;
        }

        &:hover .link-blob {
            opacity: 1;
        }
        
    }

    &--2 {

        .link-blob {
            position: absolute;
            height: 6.5rem;
            width: 8rem;
            animation: morph2 4s linear infinite;
            border-radius: 22% 78% 41% 59% / 64% 76% 24% 36%;
            transition: all .2s linear;
            background-color: $color-red-light;
            top: -19px;
            bottom: 0;
            z-index: 1;
            opacity: 0;
        }

        &:hover .link-blob {
            opacity: 1;
        }
        
    }

    &--3 {

        .link-blob {
            position: absolute;
            height: 6.5rem;
            width: 10.5rem;
            animation: morph3 4s linear infinite;
            border-radius: 49% 51% 23% 77% / 54% 57% 43% 46%;
            transition: all .2s linear;
            background-color: $color-blue;
            top: -19px;
            bottom: 0;
            z-index: 1;
            opacity: 0;
        }

        &:hover .link-blob {
            opacity: 1;
        }
        
    }

    &--4 a {
            color: $color-yellow-dark !important;     
    }

        a {
            &:link,
            &:visited {
                color: $color-black;
                font-weight: 600;
                text-transform: uppercase;
                position: relative;
                z-index: 4;
            }

            &:hover {
                text-decoration: none;
            }

            &:first-child {
                font-family: $heading-font;
                font-size: 3rem;
                margin: -1rem;

                &:hover {
                    color: $color-yellow-dark;
                }
            }
        }
    }  
}