.navigation {
    height: 9rem;
    width: 100%;
    background-color: $color-primary-medium;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    transition: height .3s;

    &__toggle {
        position: absolute;
        top: 2.5rem;
        right: 10rem;
        color: $color-black;
        font-size: 2.4rem;
        display: none;

        @include respond(tab-port) {
            display: block;
            right: 7rem;
        }

        @include respond(phone) {
            right: 2rem;
        }
    }

    &__logo {
        font-family: $heading-font;
        font-size: 3rem;
        padding-top: 5px;

        @include respond(tab-port) {
            position: absolute;
            top: 2rem;
            font-size: 3.5rem;
        }

        &:hover {
            color: $color-yellow-dark;
        }  
    }

    &__main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__links {
        background-color: transparent;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        width: 75%;
      

        @include respond(tab-port) {
            flex-direction: column;
            font-size: 2.5rem;
            margin: 0 auto;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.5s linear 0.2s;
        }

    &--1 {

        .link-blob {
            position: absolute;
            height: 6.5rem;
            width: 17.5rem;
            animation: morph1 4s linear infinite;
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
            transition: all .2s linear;
            background-color: $color-yellow-medium;
            top: -6px;
            bottom: 0;
            z-index: 1;
            opacity: 0;
        }

        &:hover .link-blob {
            opacity: 1;
        }
        
    }

    &--2 {

        .link-blob {
            position: absolute;
            height: 6.5rem;
            width: 8rem;
            animation: morph2 4s linear infinite;
            border-radius: 22% 78% 41% 59% / 64% 76% 24% 36%;
            transition: all .2s linear;
            background-color: $color-red-light;
            top: -4px;
            bottom: 0;
            z-index: 1;
            opacity: 0;
        }

        &:hover .link-blob {
            opacity: 1;
        }
        
    }

    &--3 {

        .link-blob {
            position: absolute;
            height: 6.5rem;
            width: 10.5rem;
            animation: morph3 4s linear infinite;
            border-radius: 49% 51% 23% 77% / 54% 57% 43% 46%;
            transition: all .2s linear;
            background-color: $color-blue;
            top: -5px;
            bottom: 0;
            z-index: 1;
            opacity: 0;
        }

        &:hover .link-blob {
            opacity: 1;
        }
        
    }

    &--4 a {
            color: $color-yellow-dark !important;     
    }

        a {
            &:link,
            &:visited {
                color: $color-black;
                font-weight: 600;
                text-transform: uppercase;
                position: relative;
                z-index: 4;
            }
        }
    }  
}

.active {
    // display: block;
    visibility: visible;
    opacity: 1;
}

.nav-mobile {
    height: 100vh;
}