.search-form {
    position: relative;
    width: 42rem;

    @include respond(large-phone){
        width: unset;
    }

    .search-form-big {
        font-size: 2rem;
        height: 6.5rem;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.19);
        border-radius: 3px;
    }

    i {
        position: absolute;
        right: 8%;
        bottom: 5.5rem;
        color: $color-grey;
        font-size: 2.5rem;
        &:hover,
        &:active {
            color: $color-primary-dark;
        }
        // @include respond(large-phone){
        //     left: 30rem;
        // }
        // @include respond(phone){
        //     left: 26rem;
        // }    
    }
}