.search-form {
    position: relative;
    top: 42rem;
    left: 0;

    .search-form-big {
        font-size: 2rem;
        width: 42rem;
        height: 6.5rem;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.19);
        border-radius: 3px;
    }

    i {
        position: absolute;
        left: 37rem;
        bottom: 2rem;
        color: $color-grey;
        font-size: 2.5rem;
    }

    .label {
        font-weight: 600;
        color: $color-yellow-dark;
    }
}