// External Libraries
@import "bootstrap/scss/bootstrap";

// Folders
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/nav";
@import "components/footer";
@import "components/search";
@import "components/composition";
@import "components/scroll";
@import "components/button";
@import "components/info-box";
@import "components/modal";
@import "components/nav-cart";

@import "layout/background";
@import "layout/content-box";

@import "pages/collection";